@using Zetbox.Parties.ASPNET
@{
    ViewBag.Title = @Resources.HomePageTitle;
}
<h2>@Resources.HomePageTitle</h2>
<strong>@Resources.HomePageSubTitle</strong>
<p>
    <h1>
        @Html.ActionLink(@Resources.Receipts, "Index", "Receipt")
    </h1>
</p>
<p>
    <h1>
        @Html.ActionLink(@Resources.Transactions, "Index", "Transaction")
    </h1>
</p>
