@model Zetbox.Parties.ASPNET.Models.ReceiptEditViewModel
@using Zetbox.Client.ASPNET
@using Zetbox.Parties.ASPNET
@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div class="AreaGroup1">
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Date"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Date"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["DueDate"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["DueDate"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Description"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Description"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Period"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Period"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Message"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Message"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ReceiptViewModel.Party)
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ReceiptViewModel.Party)
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["FulfillmentDate"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["FulfillmentDate"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Total"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Total"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["OpenAmount"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["OpenAmount"])
    </div>
    <div class="display-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["PaymentAmount"])
    </div>
    <div class="display-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["PaymentAmount"])
    </div>
</div>
<p>
    @Html.ActionLink(@Resources.BackToList, "Index")
</p>
