@model Zetbox.Parties.ASPNET.Models.ReceiptSearchViewModel
@using Zetbox.Parties.ASPNET
@using Zetbox.Client.ASPNET
@{
    ViewBag.Title = @Resources.Receipts;
}

<h2>@Resources.Receipts</h2>


@using (Html.BeginForm())
{
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.InvoiceID)
    </div>
    <div class="editor-field">
        @Html.ZbEditorFor(model => model.InvoiceID)
    </div>
    <div class="editor-label">
        Date
    </div>
    <div class="editor-field">
        @Html.ZbEditorFor(model => model.DateFrom)
        @Resources.Until
        @Html.ZbEditorFor(model => model.DateUntil)
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.Period)
    </div>
    <div class="editor-field">
        @Html.ZbEditorFor(model => model.Period)
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.Description)
    </div>
    <div class="editor-field large">
        @Html.ZbEditorFor(model => model.Description)
    </div>
    <p>
        <input type="submit" /></p>
}
<table class="strech">
    <tr>
        <th>
        </th>
        <th style="width:100%;">
            Name
        </th>
    </tr>
    @foreach (var prj in Model.Result)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", new { ID = prj.ID })
            </td>
            <td>
                @prj.Name
            </td>
        </tr>
    }
</table>
